SPARQL_AUTH_ENDPOINT_USER="USERNAME"
SPARQL_AUTH_ENDPOINT_PASSWORD="PASSWORD"
SPARQL_AUTH_ENDPOINT_URL="http://1.1.1.1:1234/sparql-auth/"
LOGURU_LEVEL="DEBUG"
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=XXX;AccountName=YYY;AccountKey=ZZZ"
AZURE_LARGE_NODE_CONTAINER_SAS_TOKEN="sas_token"
AZURE_TEST_CONTAINER_SAS_TOKEN="sas_token"
